<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleHelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1928C04C1F5535A000FF67C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1928C0601F5535A000FF67C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1928C06B1F5535A000FF67C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
